<form #f="ngForm" class="form-signin text-center">
    <div *ngIf="success=='true'" class="alert alert-success" role="alert">
        Account created successfully
    </div>

    <img class="mb-2 mr-4" src="../../../../assets/images/ecommerce_ecart_shop_-512.png" alt="" width="180"
        height="150">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <input type="text" #username="ngModel" id="username" name="username" [(ngModel)]="user.username"
        class="form-control" placeholder="User Name" required autofocus>

    <input type="password" #password="ngModel" id="password" name="password" [(ngModel)]="user.password"
        class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}">Remember me
        </label>
    </div>
    <div class="error_msg" *ngIf="loginStatus">
        Please enter valid User Name or Password
    </div>

    <div class="row">
        <div class="col-6">
            <a class="btn t29vte  float-left" routerLink="/createAccount">
                <span class="jsslot">Create account</span>
            </a>
        </div>
        <div class="col-6">
            <button class="btn btn-lg btn-primary float-right" (click)="login()" type="submit" [disabled]="!f.valid">
                Sign in</button>
        </div>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>


<!--<button class="btn btn-secondary"
(click)="login()">
    Login with google
</button>-->